.contenitore404{
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../../public/sfondoNotFound.jpg");
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-size: cover;

    height: 90vh;
}

.contenitore404 div {
    font-size: 80px;
    text-align: center;
    
    margin: 0 0 8rem 4rem ;
}