/** Card film lista film */
.Cardfilm {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;

  background-image: url("../../public/sfondoTabNovita.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  border: 1px solid white;

  width: 500px;
  height: 16rem;

  padding: 3rem;
  text-align: left;
  overflow: hidden;

  transition: 300ms;
}

.contenitoreCard {
  display: flex;
  flex-direction: column;
}

.Cardfilm::before {
  content: "";
  position: absolute;
  inset: 0;

  background: rgba(0, 0, 0, 0.4);
}

.Cardfilm * {
  position: relative;
  z-index: 1;
}

/** Contenutore card film lista film */

.titleCard,
.categoryCard {
  color: var(--oro);
  
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 10px 10px rgb(0, 0, 0);
}

.titleCard div,
.categoryCard div {
  color: white;

  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 3px;
}

.Cardfilm div {
  display: flex;
  justify-content: space-between;
}

/** Label preferiti */

.preferitiCard {
  display: flex;
  
  background-color: black;
  color: white;

  font-weight: 600;
  align-items: center;

  border: 1px solid white;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.preferitiCard span {
  color: white;
  padding: 10px;
}

.preferitiOn {
  background-color: var(--preferiti);
}

/** Label dettagli preferiti */

.preferitiCardDettagli{
  display: flex;
  align-items: center;

  background-color: black;
  color: white; 
  
  width: 16rem;

  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  padding: 1rem; 
}
.linkDettagli {
  text-decoration: none;
}

.BtnContainer{
  display: flex;
}

/** Hover effect */

.Cardfilm:hover {
  cursor: pointer;
  transition: 300ms;
  opacity: 0.9;
}
.preferitiCard:hover {
  background-color: rgba(144, 0, 0, 0.935);
}
.preferitiCardDettagli:hover{
  background-color: rgba(114, 46, 250, 0.935);
}
