.Cardfilm {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 500px;
  height: 250px;
  gap: 20px;

  background-image: url("../../public/sfondoTabNovita.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  padding: 3rem;
  text-align: left;
  overflow: hidden;
  transition: 300ms;
}

.Cardfilm::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.40); 
}

.Cardfilm * {
  position: relative;
  z-index: 1;
}

.Cardfilm:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: 300ms;
    opacity: 0.95;
}

.titleCard, 
.categoryCard{
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 166, 0);
    text-shadow: 0 10px 10px rgb(0, 0, 0);
}

.titleCard div,
.categoryCard div{
  color: white;
  letter-spacing: 3px;
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
}

.Cardfilm div{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.preferitiCard {
  display: flex;
  align-items: center;
  padding: 6px 14px;
  background-color: black; /* colore rosso acceso */
  color: white;
  font-weight: 600;
  border: 2px solid red;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.preferitiOn {
  background-color: red;
  color: rgb(0, 0, 0);
  border: none;
}

