.titleHome{
    position: absolute;
    top: 25%;
    right: 10%;
    width: 600px;
}

.titleHome h1{
  color: gold;
 font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
  text-align: end;
  letter-spacing: 10px;
  line-height: 110px;
}

video{
    width: 100%;
    opacity: 0.8;
}
