/** Contenitore Lista Film */

.contenitoreLista{
    position: relative;
    
    background-image: url("../../public/sfondoLista.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    height: 90vh;;
}

.contenitoreFiltri{
    position:sticky;
    right: 0;
    left: 0;
    gap: 12px;

    padding: 2rem 5rem;

    z-index: 100;
}

.contenitoreFilm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    padding: 2rem 4rem;

    height: 77vh;
    overflow-y: auto;
}

/** Form Filtri */

.formFiltri{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.formFiltri select,
.formFiltri input{
  appearance: none;     
  background-color: black; 
  color: white;   

  border-radius: 10px;
  border: 1px solid white;   

  padding: 10px 40px; 

  font-size: 16px;
  text-align: center;      
  text-align-last: center;  
}

.formFiltri input::placeholder{
  color: white;
}

.formFiltri select{
  cursor: pointer;
}

.formFiltri button,
.resetBtn {
  padding: 10px 50px;

  border-radius: 12px;
  border: none;

  background: var(--preferiti);
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btnReset{
  background: var(--preferiti);
}

/** In caso che non ci siano film */

.emptyfilms {
  position: absolute;
  backdrop-filter: blur(20px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Cinzel Decorative", serif;
  font-weight: 600;
  font-style: normal;

  color: var(--oro);

  font-size: 36px;
  z-index: 1;
}