.contenitoreLista{
    background-image: url("../../public/sfondoLista.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.contenitoreFiltri{
    position:sticky;
    right: 0;
    left: 0;
    gap: 12px;
    padding: 2rem 5rem;
}

.contenitoreFilm{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 4rem;
    height: 79vh;
    overflow-y: auto;
}

.formFiltri{
    display: flex;
    justify-content: end;
    gap: 2rem;
}

.formFiltri select,
.formFiltri input{
  appearance: none;     
  background-color: black; 
  color: white;             
  border-radius: 10px;
  border: 1px solid white;   
  padding: 10px 40px; 
  font-size: 16px;
  text-align: center;      
  text-align-last: center;  
}

.formFiltri input::placeholder{
  color: white;
}

.formFiltri select{
  cursor: pointer;
}

.formFiltri button,
.resetBtn {
padding: 10px 50px;
  border-radius: 12px;
  border: none;
  background: red;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btnReset{
  background: red;
}
