body{
    background-color: black;
}

.listaNavBar{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(5px);
    top: 0;
    width: 100%;
    padding: 1rem;
    height: 70px;
    font-size: 24px;
}

.listaNavBar li {
    background-color: transparent;
    list-style-type: none;
    margin-bottom: 80px;
}

.listaNavBar li a{
    color: white;
    text-decoration: none;
}

.listaNavBar li a:hover{
    color: gold;
}

.active-link{
    color: rgb(255, 183, 0);
    font-weight: bolder;
}

