/** NavBar */

.listaNavBar{
    display: flex;
    justify-content: space-evenly;

    background: linear-gradient(180deg, rgb(0, 0, 0), rgb(6, 6, 8));
    backdrop-filter: blur(5px);

    top: 0;

    padding: 1rem;
    
    height: 65px;

    font-size: 20px;
}

.listaNavBar li {
    color: white;

    background-color: transparent;

    list-style-type: none;
    margin-bottom: 80px;
}

.listaNavBar li a{
    color: white;
    text-decoration: none;
}

.active-link{
    color: var(--oro);
    font-weight: bold;
}

.preferitiConta{
    position: relative;
}

.heartBadge{
    position: absolute;
    bottom: 0.8rem;
    left: 0.8rem;

    background: var(--oro);
    color: #000000;  

    font-size: 14px;
    font-weight: 700;
    
    padding: 2px 6px;

    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
}

/** Hover NavBar */

.listaNavBar li a:hover {
    color: var(--oro);
    font-weight: bold;
}