body{
    background-color: black;
}

.listaNavBar{
    display: flex;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.705);
    backdrop-filter: blur(5px);
    top: 0;
    width: 100%;
    padding: 1rem;
    height: 70px;
    font-size: 24px;
}

.listaNavBar li {
    color: white;
    background-color: transparent;
    list-style-type: none;
    margin-bottom: 80px;
}

.listaNavBar li a{
    color: white;
    text-decoration: none;
}

.active-link{
    color: rgb(255, 183, 0);
    font-weight: bold;
}

.notActive-link{
    color: white;
}

.heartBadge{
    background: rgb(255, 174, 0);
    color: #000000;  
    font-size: 14px;
    font-weight: 700;
  
    position: absolute;
    top: 10%;
    right: 11rem;
   
    padding: 2px 6px;

    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
}