body{
    background-color: black;
}

.contenitoreNavBar{
    display: flex;
    flex-direction: column;
    background-image: url("./Pellicola.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem 0 0 8rem;
    width: 16%;
    height: 100vh;
    font-size: 30px;
}

.listaNavBar li {
    background-color: transparent;
    list-style-type: none;
    margin: 80px 0;
}

.listaNavBar li a{
    color: white;
    text-decoration: none;
}

.listaNavBar li a:hover{
    color: gold;
}

.active-link{
    color: rgb(255, 183, 0);
    font-weight: bolder;
}

