/** Contenitore Preferiti */

.contenitorePreferiti {
  position: relative;
  display: flex;

  height: 90vh;

  background-image: url("../../public/sfondoPreferito.jpg");
  background-size: cover;
}

/** Contenitore Tab Preferiti */
.empty {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  backdrop-filter: blur(30px) opacity(0.9);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Cinzel Decorative", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;

  color: rgb(243, 242, 242);
  
  z-index: 1;
}

.tabPreferiti {
  width: 40%;
  height: 84vh;
  overflow-y: auto;
}

.preferiti {
  background-image: url("../../public/preferitoTab.jpg");
  background-size: cover;
  background-position-y: 20%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 24px;
  margin: 15px 0;
}

.btnPref {
  color: rgb(0, 0, 0); 

  padding: 10px 20px;
  width: 100px;
  font-size: 12px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.btnPreConf {
  background-color: var(--oro);
}

.contBtnPref {
  display: flex;
  align-items: end;
}

.btnPref:hover {
  background-color: var(--oro);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.rimuovi {
  background-color: var(--preferiti);
  margin-left: 20px;
}

.resetBtn {
  position: absolute;
  right: 3%;
  bottom: 8%;
}

.areaConfronto {
  width: 60%;
  height: 80vh;
}

.gridConfronto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
