*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, rgba(80, 40, 10, 0.95), rgba(180, 120, 40, 0.95));
    border: 2px solid rgba(0, 0, 0, 0.8);        /* altezza minima del "cursore" verticale */            /* spazio sopra/sotto per staccarlo dai bordi */
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, rgba(120, 60, 20, 0.98), rgba(220, 170, 80, 0.98));
    cursor: pointer;
}
